# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
nextjs-frontend/


# Agent files
.agents/

# Environment variables
backend/.env
.env.production
.env.production.local

# Chroma vector DB
backend/chroma_data/

# Build folders
dist/
build/

# OS files
.DS_Storedeploy-gcp.sh
