# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
nextjs-frontend/node_modules/

# Agent files
.agents/

# Environment variables
backend/.env

# Chroma vector DB
backend/chroma_data/

# Build folders
dist/
build/

# OS files
.DS_Store